body {
  margin: 0;
  background-color: #040404;
  color: #cda4a4;
}
.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-weight: 500;
  font-size: 60px;
  font-family: "Tilt Prism", cursive;
}
.main1 {
  width: 100%;
  height: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #746b49;
}
.main2 {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #746b49;
}
#inp {
  height: 23px;
  width: 200px;
  border-radius: 4px;
  text-decoration: none;
  margin-right: 3px;
  background-color: #746b4977;
  color: #b5a773;
  border: 1px solid rgb(193, 133, 23);
}
#btn {
  height: 28px;
  width: 80px;
  border-radius: 5px;
  margin-left: 3px;
  border: 1px solid rgb(193, 133, 23);
  background-color: #746b4977;
  color: #c6b780;
}
.main3 {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form h3 {
  margin-right: 10px;
  font-size: 25x;
}
.smain3 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
